<?xml version="1.0" encoding="UTF-8"?>
<!--???????????: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status log4j2?????? -->
<configuration status="INFO"> 
	<Properties>
		<Property name="pattern">%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}:%L -%m%n</Property>
		<Property name="displayName">ball</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT" follow="true">
			<PatternLayout>
			    <charset>UTF-8</charset>
				<pattern>${pattern}</pattern>
			</PatternLayout>
		</Console> 
		<RollingFile name="error" fileName="logs/${displayName}_error.log"
			filePattern="${displayName}_%d{yyyy-MM-dd}.log">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout>
			     <charset>UTF-8</charset>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<!-- ????? -->
			<SizeBasedTriggeringPolicy size="50 MB" />
		</RollingFile>
		<RollingFile name="info" fileName="logs/${displayName}_info.log"
			filePattern="${displayName}_%d{yyyy-MM-dd}.log">
			<ThresholdFilter level="INFO" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout>
			     <charset>UTF-8</charset>
				<pattern>${pattern}</pattern>
			</PatternLayout> 
			<SizeBasedTriggeringPolicy size="50 MB" />
		</RollingFile> 
		  
	</Appenders>
	<Loggers>
		<!-- <Logger name="org.apache.catalina.util.LifecycleBase" level="ERROR" 
			/> <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN" 
			/> <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN" 
			/> -->
		<Logger name="org.springframework" level="WARN" />
		<Logger name="com.alog" level="INFO" />
		<Root level="INFO">
			<AppenderRef ref="console"></AppenderRef>
			<AppenderRef ref="error"></AppenderRef>
			<AppenderRef ref="info"></AppenderRef>
		</Root>
		 
		</Loggers>
	</configuration>