<html> 
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<body>
<div id="app">
<div id="box">
    <div>开始时间：<input type="text" id="date" v-model="date"  value="${startDate}"/></div>
    <div>账号：<input type="text" id="account" v-model="account" /></div>
	<input type="button" @click="get()" value="查询账单">
</div>
<table class="gridtable">
<tr>
    <th>滚球赛事</th>
    <th>滚球更新时间</th>
    <th>今日赛事</th> 
    <th>今日更新时间</th>
    <th>收集是否正常</th>
</tr>
<tr v-if="betinfoToday != null">
    <td>{{betinfoToday.rollCount}}</td>
    <td>{{betinfoToday.lastUpdateRollCount}}</td> 
    <td>{{betinfoToday.todayCount}}</td> 
    <td>{{betinfoToday.lastUpdateTodayCount}}</td>
    <td>{{!betinfoToday.isCollectError}}</td>  
</tr>
 
</table>  
  
  <!-- Table goes in the document BODY -->
<table class="gridtable">
<tr>
    <th>时间</th>
    <th>状态</th>
    <th>结果</th>
    <th>下注</th>
    <th>可赢</th>
    <th>账号</th>
    <th>当前时间</th>
    <th>方向</th>
    <th>买入位</th>
    <th>即时总分</th> 
    <th>滚买时</th>
    <th>滚总分</th>
    <th>滚大水位</th>
    <th>滚小水位</th>
    <th>滚主分</th>
    <th>滚客分</th>
    <th>主分</th>
    <th>客分</th>
    <th>联赛</th>
    <th>客队</th>
    <th>主队</th>
</tr>
<tr v-for="bill in list"  v-bind:class="{ sucbet: bill.errormsg != 'test bet.' }" >
    <td>{{ bill.createTime }}</td>
    <td> <span v-if="bill.matchStatus === '1'">
      	进行中
		</span> 
		<span v-else>
		结束
		</span></td>
    <td>{{bill.result}}</td>
    <td>{{bill.gold}}</td>
    <td>{{bill.wingold}}</td>
    <td>{{ bill.account }}</td>
    <td>{{ bill.last_t_count }}</td>
    <td> <span v-if="bill.type === 'H'">
      	小
	</span> 
	<span v-else>
	 大
	</span></td>
    <td>{{bill.spread}}</td>
    <td>{{bill.total}}</td> 
    <td>Q4 {{bill.t_count.indexOf(".")>0?bill.t_count.substring(0,bill.t_count.indexOf(".")):bill.t_count}}秒</td>
    <td>{{bill.sc_total}}</td>
    <td>{{bill.ior_ROUC}}</td>
    <td>{{bill.ior_ROUH}}</td>
    <td>{{bill.sc_FT_H}}</td>
    <td>{{bill.sc_FT_A}}</td>
    <td>{{bill.end_sc_FT_H}}</td>
    <td>{{bill.end_sc_FT_A}}</td>
    <td>{{bill.league}}</td>
    <td>{{bill.team_c}}</td>
    <td>{{bill.team_h}}</td>
</tr>
 
</table>
</div>
 <!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">
.sucbet{
  color: red;
}
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
</style>
 

<script>
  new Vue({
        el:'#app',
        data:{ 
        	date:'${startDate}',
        	account:null,
            list:[],
            betinfoToday:null
        },
        methods:{
            get:function(){
            	if(!this.date){
            		alert("请填写日期，格式如20190101");
            		return;
            	}
            	/* if(!this.account){
            		alert("请填写账号");
            		return;
            	} */
            	var d = this.date.substring(0,4)+"-"+this.date.substring(4,6)+"-"+this.date.substring(6,8);
            	var url = 'report/betdetail.op?date='+d;
            	if(this.account != null)
            		url += '&account='+this.account; 
                //发送get请求
                this.$http.get(url).then(function(res){
                    this.list = res.data.data;    
                },function(){
                    console.log('请求失败处理');
                }); 
                this.getbetinfoToday();
            },
            getbetinfoToday:function(){
            	var url = 'report/betinfoToday.op'; 
                //发送get请求
                this.$http.get(url).then(function(res){
                    this. betinfoToday = res.data.data;    
                },function(){
                    console.log('请求失败处理');
                }); 
            }
        }
    });
 

/* new Vue({
  el: '#app',
  data: {
    sites: [
      { name: 'Runoob' },
      { name: 'Google' },
      { name: 'Taobao' }
    ]
  }
}) */
</script>
 </body>
</html>