<html> 
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<body>
<div id="app">
<div id="box">
    开始时间：<input type="text" id="date" v-model="date" />
    账号：<input type="text" id="account" v-model="account" />
	<input type="button" @click="get()" value="查询账单">
</div>
  <ol>
    <li v-for="bill in list" > 
        {{ bill.createTime }} 
         <span v-if="bill.matchStatus === '1'">
      	进行中
		</span> 
		<span v-else>
		结束
		</span>
        {{bill.result}} {{bill.gold}} {{bill.wingold}} {{ bill.account }}   
      <span v-if="bill.type === 'H'">
      	小
	</span> 
	<span v-else>
	 大
	</span>{{bill.spread}} {{bill.total}} {{bill.league}} {{bill.team_c}} {{bill.team_h}}
    </li>
  </ol>
</div>
 
<script>
  new Vue({
        el:'#app',
        data:{ 
        	date:null,
        	account:null,
            list:[]
        },
        methods:{
            get:function(){
            	if(!this.date){
            		alert("请填写日期，格式如20190101");
            		return;
            	}
            	/* if(!this.account){
            		alert("请填写账号");
            		return;
            	} */
            	var d = this.date.substring(0,4)+"-"+this.date.substring(4,6)+"-"+this.date.substring(6,8);
            	var url = 'report/betdetail.op?date='+d;
            	if(!this.account && this.account != null)
            		url += '&account='+this.account; 
                //发送get请求
                this.$http.get(url).then(function(res){
                    this.list = res.data.data;    
                },function(){
                    console.log('请求失败处理');
                });
            }
        }
    });
 

/* new Vue({
  el: '#app',
  data: {
    sites: [
      { name: 'Runoob' },
      { name: 'Google' },
      { name: 'Taobao' }
    ]
  }
}) */
</script>
 </body>
</html>