<html> 
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<body>
<div id="app">
<div id="box">
<div>
    开始时间：<input type="text" v-model="startDate" /></div>
     <div>  结束时间：<input type="text" v-model="endDate" /></div>
     <div>      账号：<input type="text" id="account" v-model="account" /></div>

	<input type="button" @click="get()" value="查询账单">
</div>
  <ol style="font-size: 16px;font-weight: bold;"> 
    <li v-for="bill in list">
      {{ bill.account }}  <span v-if="bill.iseff === '1'">
      	进行
	</span> 
	<span v-else>
	      停止
	</span> 
	 <span v-if="bill.totalBillDto != null ">
	    场数：{{bill.totalBillDto.matchCount}} 金额:{{bill.totalBillDto.totalWin}} 
	     </span>
     <span v-else>
                     场数：0 金额:0
	    </span>
      <br> --
     <span style="color:gray;font-size: 8px;font-weight: normal;">下注规则:【{{bill.ruleName}}】金额:{{bill.money}}追加:{{bill.continueMaxMatch}}计划:{{bill.continuePlanMoney}}赢停:{{bill.stopWingold}}输停:{{bill.stopLosegold}}</span>
    </li>
  </ol>
     <span>总赢：</span><span >{{totalWin}}</span>
</div>
 
<script>
  new Vue({
        el:'#app',
        data:{ 
        	startDate:null,
        	endDate:null,
        	account:null,
        	totalWin:0,
            list:[]
        },
        methods:{
            get:function(){
            	if(!this.startDate){
            		alert("请填写日期，格式如20190101");
            		return;
            	}
            	var sdate = this.startDate.substring(0,4)+"-"+this.startDate.substring(4,6)+"-"+this.startDate.substring(6,8);
            	var url =  'report/win.op?startDate='+sdate;
            	if(this.endDate!=null){
            		var edate = this.endDate.substring(0,4)+"-"+this.endDate.substring(4,6)+"-"+this.endDate.substring(6,8);
            		url += '&endDate='+edate;
            	}
            	if(this.account!=null){
            		url += '&account='+this.account;
            	}
                //发送get请求
                this.$http.get(url).then(function(res){
                    this.list = res.data.data;  
                    this.totalWin = 0;
                    if(this.list){
                    	for(var i=0;i< this.list.length;i++){
                    		var bill = this.list[i];
                    		if(bill.totalBillDto!=null)
                    		this.totalWin += bill.totalBillDto.totalWin;
                    	}
                    }
                },function(){
                    console.log('请求失败处理');
                });
            }
        }
    });
 

/* new Vue({
  el: '#app',
  data: {
    sites: [
      { name: 'Runoob' },
      { name: 'Google' },
      { name: 'Taobao' }
    ]
  }
}) */
</script>
 </body>
</html>