<html> 
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<body>
<div id="app">
<div id="box">
<div>
    开始时间：<input type="text" v-model="startDate" /></div>
     <div>  结束时间：<input type="text" v-model="endDate" /></div>
     <div>      账号：<input type="text" id="account" v-model="account" /></div>

	<input type="button" @click="get()" value="查询账单">
</div>
   <table class="gridtable">
<tr>
    <th>总赢金额</th> 
</tr>
<tr>
    <td>{{totalWin}}</td>
</tr>
 
</table> 
  <table class="gridtable">
<tr>
    <th>账号</th> 
    <th>操作</th>
    <th>状态</th> 
    <th>场数</th>
    <th>已赢</th>
    <th>单场金额</th> 
    <th>今日已下注</th>
    <th>当前追加场数</th>
    <th>规则</th>
    <th>追加场数</th>
    <th>连赢N场等N场输下注</th>
    <th>输连追计划</th>
    <th>赢停</th>
    <th>输停</th>
    <th>每天最大下注场数</th>
</tr>
<tr  v-for="bill in list">
    <td>{{ bill.account }}【{{ bill.ballAccount }}】</td> 
	<td><button @click="statusControl(bill.account)"><span style="color: red;" v-if="bill.iseff === '1'">
      	停止
	</span> 
	<span style="color: black;" v-else>
	    启动
	</span></button></a></td>
	  <td> <span style="color: red;" v-if="bill.iseff === '1'">
      	进行
	</span> 
	<span style="color: black;" v-else>
	      停止
	</span> 
	<span style="color: red;" v-if="bill.isTest == '1'">
	 (测试下单)
	</span></td>
	<td>{{bill.totalBillDto.matchCount}}</td>
	<td>{{bill.totalBillDto.totalWin}}</td> 
	<td>{{bill.money}}</td>
	<td><span style="color: red;font-size: 16px;font-weight: bold;">{{bill.todayTotalMatch}}</span></td>
	<td><span style="color: red;font-size: 16px;font-weight: bold;"  v-if="bill.bwContinue != null" >第{{bill.bwContinue.totalMatch}}场</span></td>
	<td>{{bill.ruleName}}</td>
	<td>{{bill.continueMaxMatch}}</td>
	<td>{{bill.winRule}}</td>
	<td>{{bill.continuePlanMoney}}</td>
	<td>{{bill.stopWingold}}</td>
	<td>{{bill.stopLosegold}}</td>
	<td>{{bill.maxEachDay}}</td>
	
</tr>
 
</table> 
</div>
  <!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">
.sucbet{
  color: red;
}
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
</style>
<script>
  new Vue({
        el:'#app',
        data:{ 
        	startDate:null,
        	endDate:null,
        	account:null,
        	totalWin:0,
            list:[]
        },
        methods:{
			statusControl:function(account){
				var accountPwd=prompt("请输入账号密码：");
				var url = '/ballauto/status.op?account='+account+'&accountPwd='+accountPwd; 
				 this.$http.get(url).then(function(res){
					    var success = res.data.success;
					    if(!success){
					    	 alert(res.data.message);
					    	 return;
					    } 
	                    alert("修改成功"); 
	                },function(){
	                	alert('请求失败处理');
	                });
			},
            get:function(){
            	if(!this.startDate){
            		alert("请填写日期，格式如20190101");
            		return;
            	}
            	var sdate = this.startDate.substring(0,4)+"-"+this.startDate.substring(4,6)+"-"+this.startDate.substring(6,8);
            	var url =  'report/win.op?startDate='+sdate;
            	if(this.endDate!=null){
            		var edate = this.endDate.substring(0,4)+"-"+this.endDate.substring(4,6)+"-"+this.endDate.substring(6,8);
            		url += '&endDate='+edate;
            	}
            	if(this.account!=null){
            		url += '&account='+this.account;
            	}
                //发送get请求
                this.$http.get(url).then(function(res){
                    this.list = res.data.data;  
                    this.totalWin = 0;
                    if(this.list){
                    	for(var i=0;i< this.list.length;i++){
                    		var bill = this.list[i];
                    		if(bill.totalBillDto!=null)
                    		this.totalWin += bill.totalBillDto.totalWin;
                    	}
                    }
                },function(){
                	alert('请求失败处理');
                });
            }
        }
    });
 

/* new Vue({
  el: '#app',
  data: {
    sites: [
      { name: 'Runoob' },
      { name: 'Google' },
      { name: 'Taobao' }
    ]
  }
}) */
</script>
 </body>
</html>