<html> 
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<body>
<div id="app">
<div id="box">
    开始时间：<input type="text" v-model="date" />
	<input type="button" @click="get()" value="查询账单">
</div>
  <ol> 
    <li v-for="bill in list">
      {{ bill.account }}  <span v-if="bill.iseff === '1'">
      	进行
	</span> 
	<span v-else>
	      停止
	</span> 
	 <span v-if="bill.totalBillDto != null ">
	    场数：{{bill.totalBillDto.matchCount}} 金额:{{bill.totalBillDto.totalWin}} 
	     </span>
     <span v-else>
                     场数：0 金额:0
	    </span>
       --
     <span style="color:gray;">金额:{{bill.money}} 追加:{{bill.continueMaxMatch}} 计划:{{bill.continuePlanMoney}} 赢停:{{bill.stopWingold}} 输停:{{bill.stopLosegold}}</span>
    </li>
  </ol>
</div>
 
<script>
  new Vue({
        el:'#app',
        data:{ 
        	date:null,
            list:[]
        },
        methods:{
            get:function(){
            	if(!this.date){
            		alert("请填写日期，格式如20190101");
            		return;
            	}
            	var d = this.date.substring(0,4)+"-"+this.date.substring(4,6)+"-"+this.date.substring(6,8);
            	 
                //发送get请求
                this.$http.get('report/win.op?date='+d).then(function(res){
                    this.list = res.data.data;    
                },function(){
                    console.log('请求失败处理');
                });
            }
        }
    });
 

/* new Vue({
  el: '#app',
  data: {
    sites: [
      { name: 'Runoob' },
      { name: 'Google' },
      { name: 'Taobao' }
    ]
  }
}) */
</script>
 </body>
</html>